@import "~/.config/colors/rofi.rasi"

* {
    background-color:   transparent;
    text-color:         @primary;


    font-family: "monospace";

    margin:     8px;
    padding:    8px;
    spacing:    8px;
}

window {
    transparency:                "real";
    fixed-num-lines: true;
    enabled:                     true;
    background-color: transparent;
    location:       north;
    anchor: north;
    y-offset: 25%;
    width:          30%;
    max-height: 40%;
    border-radius: 4px;
}

mainbox {
    location: north;
    background-color: @primary-bg-transparent;
    border: 1px;
    border-color: @primary;
    border-radius: 4px;
}

inputbar {
    background-color:   @secondary-bg;
    border-color:       @primary;

    border:         1px;
    border-radius:  4px;

    padding:    0px 0px;
    children:   [ prompt, entry ];
}

prompt {
    text-color: @primary;
}

entry {
    placeholder:        "Search";
    placeholder-color:  @complementary;
}

message {
    border-radius:      4px;
    border-color:       @primary;
    background-color:   @secondary-bg;
}

textbox {
    padding:    4px 8px;
}

listview {
    background-color:   transparent;

    margin:     8px 0 0;
    lines:      6;
    columns:    1;

    fixed-height: false;
}

element {
    padding:        4px 4px;
    spacing:        4px;
    border-radius:  8px;
}

element normal active {
    text-color: @primary;
}

element alternate active {
    text-color: @secondary;
}

element selected normal, element selected active {
    background-color:   @secondary-bg;
    border: 1px;
    border-radius: 4px;
    border-color: @primary;
    text-color: @secondary;
}

element-icon {
    size:           1em;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
}
